In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense,LSTM,Dropout
import yfinance as yf

In [2]:
data = pd.read_csv('NIFTY50_Data1.csv')
data.head()

       Date     Open     High      Low   Close
0  4-Jan-10  5200.90  5238.45  5167.10  5232.2
1  5-Jan-10  5277.15  5288.35  5242.40  5277.9
2  6-Jan-10  5278.15  5310.85  5260.05  5281.8
3  7-Jan-10  5281.80  5302.55  5244.75  5263.1
4  8-Jan-10  5264.25  5276.75  5234.70  5244.7

In [3]:
len(data)

3300

In [4]:
q=int(len(data)*70/100)
q

2310

In [5]:
testData = data[3270:]
len(testData)

30

In [6]:
testData

           Date      Open      High       Low     Close
3270   6-Mar-23  17680.35  17799.95  17671.95  17711.45
3271   8-Mar-23  17665.75  17766.50  17602.25  17754.40
3272   9-Mar-23  17772.05  17772.35  17573.60  17589.60
3273  10-Mar-23  17443.80  17451.50  17324.35  17412.90
3274  13-Mar-23  17421.90  17529.90  17113.45  17154.30
3275  14-Mar-23  17160.55  17224.65  16987.10  17043.30
3276  15-Mar-23  17166.45  17211.35  16938.90  16972.15
3277  16-Mar-23  16994.65  17062.45  16850.15  16985.60
3278  17-Mar-23  17111.80  17145.80  16958.15  17100.05
3279  20-Mar-23  17066.60  17066.60  16828.35  16988.40
3280  21-Mar-23  17060.40  17127.70  17016.00  17107.50
3281  22-Mar-23  17177.45  17207.25  17107.85  17151.90
3282  23-Mar-23  17097.40  17205.40  17045.30  17076.90
3283  24-Mar-23  17076.20  17109.45  16917.35  16945.05
3284  27-Mar-23  16984.30  17091.00  16918.55  16985.70
3285  28-Mar-23  17031.75  17061.75  16913.75  16951.70
3286  29-Mar-23  16977.30  17126.15  16940.60  17080.70
3287  31-Mar-23  17210.35  17381.60  17204.65  17359.75
3288   3-Apr-23  17427.95  17428.05  17312.75  17398.05
3289   5-Apr-23  17422.30  17570.55  17402.70  17557.05
3290   6-Apr-23  17533.85  17638.70  17502.85  17599.15
3291  10-Apr-23  17634.90  17694.10  17597.95  17624.05
3292  11-Apr-23  17704.80  17748.75  17655.15  17722.30
3293  12-Apr-23  17759.55  17825.75  17717.25  17812.40
3294  13-Apr-23  17807.30  17842.15  17729.65  17828.00
3295  17-Apr-23  17863.00  17863.00  17574.05  17706.85
3296  18-Apr-23  17766.60  17766.60  17610.20  17660.15
3297  19-Apr-23  17653.35  17666.15  17579.85  17618.75
3298  20-Apr-23  17638.60  17684.45  17584.35  17624.45
3299  21-Apr-23  17639.75  17663.20  17553.95  17624.05

In [7]:
data = data[:3270]
le = len(data)
len(data)

3270

In [8]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data["Close"]=pd.to_numeric(data.Close,errors='coerce')
data = data.dropna()
trainData = data.iloc[:,4:5].values

In [10]:
sc = MinMaxScaler(feature_range=(0,1))
trainData = sc.fit_transform(trainData)
trainData.shape

(3270, 1)

In [11]:
X_train = []
y_train = []

for i in range (10,le): #60 : timestep // 1149 : length of the data
    X_train.append(trainData[i-10:i,0]) 
    y_train.append(trainData[i,0])

X_train,y_train = np.array(X_train),np.array(y_train)

In [12]:
X_train = np.reshape(X_train,(X_train.shape[0],X_train.shape[1],1)) #adding the batch_size axis
X_train

array([[[0.04821878],
        [0.05142168],
        [0.05169502],
        ...,
        [0.04833792],
        [0.05016015],
        [0.04962049]],

       [[0.05142168],
        [0.05169502],
        [0.05038442],
        ...,
        [0.05016015],
        [0.04962049],
        [0.05120442]],

       [[0.05169502],
        [0.05038442],
        [0.04909485],
        ...,
        [0.04962049],
        [0.05120442],
        [0.04775621]],

       ...,

       [[0.94416644],
        [0.94556815],
        [0.93914482],
        ...,
        [0.90561595],
        [0.9004927 ],
        [0.89427262]],

       [[0.94556815],
        [0.93914482],
        [0.93216431],
        ...,
        [0.9004927 ],
        [0.89427262],
        [0.90457167]],

       [[0.93914482],
        [0.93216431],
        [0.93090978],
        ...,
        [0.89427262],
        [0.90457167],
        [0.89553065]]])

In [13]:
model = Sequential()

model.add(LSTM(units=100, return_sequences = True, input_shape =(X_train.shape[1],1)))
model.add(Dropout(0.2))

model.add(LSTM(units=100, return_sequences = True))
model.add(Dropout(0.2))

model.add(LSTM(units=100, return_sequences = True))
model.add(Dropout(0.2))

model.add(LSTM(units=100, return_sequences = False))
model.add(Dropout(0.2))

model.add(Dense(units =1))
model.compile(optimizer='adam',loss="mean_squared_error")

# New Section

In [ ]:
hist = model.fit(X_train, y_train, epochs = 20, batch_size = 32, verbose=2)

Epoch 1/20
102/102 - 8s - loss: 0.0120 - 8s/epoch - 80ms/step
Epoch 2/20
102/102 - 3s - loss: 0.0016 - 3s/epoch - 26ms/step
Epoch 3/20
102/102 - 3s - loss: 0.0016 - 3s/epoch - 25ms/step
Epoch 4/20
102/102 - 3s - loss: 0.0015 - 3s/epoch - 25ms/step
Epoch 5/20
102/102 - 3s - loss: 0.0014 - 3s/epoch - 25ms/step
Epoch 6/20
102/102 - 3s - loss: 0.0015 - 3s/epoch - 26ms/step
Epoch 7/20
102/102 - 3s - loss: 0.0011 - 3s/epoch - 26ms/step
Epoch 8/20

In [ ]:
plt.plot(hist.history['loss'])
plt.title('Training model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train'], loc='upper left')
plt.show()

In [ ]:
# testData = pd.read_csv('Google_test_data.csv')
testData["Close"]=pd.to_numeric(testData.Close,errors='coerce')
testData = testData.dropna()
testData = testData.iloc[:,4:5]
y_test = testData.iloc[10:,0:].values 
#input array for the model
inputClosing = testData.iloc[:,0:].values 
inputClosing_scaled = sc.transform(inputClosing)
inputClosing_scaled.shape
X_test = []
length = len(testData)
timestep = 10
for i in range(timestep,length):  
    X_test.append(inputClosing_scaled[i-timestep:i,0])
X_test = np.array(X_test)
X_test.shape
X_test = np.reshape(X_test,(X_test.shape[0],X_test.shape[1],1))
X_test.shape

In [ ]:
X_test

In [ ]:
y_pred = model.predict(X_test)
y_pred

In [ ]:
predicted_price = sc.inverse_transform(y_pred)

In [ ]:
len(y_test)

In [ ]:
plt.plot(y_test[900:], color = 'red', label = 'Actual Stock Price')
plt.plot(predicted_price[900:], color = 'green', label = 'Predicted Stock Price')
plt.title('Google stock price prediction')
plt.xlabel('Time')
plt.ylabel('Stock Price')
plt.legend()
plt.show()